h1 {
    color: blue;
    background-color: azure;
    border: double;
}

h3 {
    color: blue;
    background-color: azure;
    border: double;
}

button {
    background-color: bisque;
    color: blue;
}