  ul {
    width: 200px;
    margin: auto;
    font-family: sans-serif;
  }

  li:hover {
    padding: 8px;
    transition: all 0.3s;
  }

  li {
    color: blue;
    text-decoration: underline;
  }
  /* es aris 5 davaleba */