  table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
  }

  th, td {
    border: 1px solid black;
    padding: 10px;
  }

  th {
    background-color: #f0f0f0;
  }

  tr:nth-child(even) {
    background-color: black;
    color: white;
  }

  tr:nth-child(odd) {
    background-color: blue;
    color: red;
  }
  /* es aris 3 davaleba */