  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
  }

  button:hover {
    background-color: #0056b3;
    font-size: 18px;
  }
  /* es aris 2 davaleba */