  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }

  form {
    width: 300px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
  }

  input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  input:hover {
    background-color: #e0f0ff;
  }
  
  /* es aris 1 davaleba */