b {
    color: rgb(0,0,255);
    background-color: aliceblue;
}

h1 {
    color: brown;
    background-color: aliceblue;
    text-align: center;
    text-decoration: underline;
}
/* ეს არის 5 დავალება */